 <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i><a href="mailto:{{settingData.company_email}}">{{settingData.company_email}}</a>
        <i class="icofont-phone"></i> {{settingData.company_phone}}
      </div>
      <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="https://www.facebook.com/dixitkc49" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="https://www.instagram.com/dixit_kc49/" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="https://www.linkedin.com/in/sangitrajkc/" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </section>
